:root {
    --basic-white: #fff;
    --basic-black: #000;

    --text-dark: #323232;
    --text-light-dark: #5A5A5A;
    --text-light: #999999;
    --text-extra-light: #ABABAB;

    --main-btn-light-red: #F26843;
    --main-btn-dark-red: #E74A35;
    --main-btn-shadow: rgba(160, 32, 11, 0.76);
    --main-active-btn-shadow: #942718;

    --advantages-bg: #EDE0C5;
    --popup-bg: #F8F7F4;

    --active-link-light: #FFBC9E;
    --active-link-dark: #E84D37;

    --site-bg-1: #849D8F;
    --site-bg-2: #8996A6;
    --site-bg-3: #9D8B84;

    --bg-white-opacity-2: rgba(255, 255, 255, 0.2);
    --bg-white-opacity-5: rgba(255, 255, 255, 0.5);
    --bg-white-opacity-7: rgba(255, 255, 255, 0.7);
    --bg-white-opacity-8: rgba(255, 255, 255, 0.8);
    --bg-black-opacity-07: rgba(0, 0, 0, 0.07);
    --bg-black-opacity-4: rgba(0, 0, 0, 0.4);

    --price-shadow: rgba(49, 50, 53, 0.5);
    --active-class-shadow: #696969;
}

body {
    min-width: 1200px;
    margin: 0;
    padding: 0;

    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: var(--basic-white);

    background-color: var(--site-bg-1);
    /*background-image: url("../img/icecream-slider-1.png"), radial-gradient(circle 554px at center 358px, rgba(215, 242, 227, 0.75) 108px, transparent);*/
    /*background-position: center 83px, center top;*/
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.btn {
    font: inherit;
    color: var(--basic-white);
    font-weight: 700;

    background: linear-gradient(var(--main-btn-light-red), var(--main-btn-dark-red));
    box-shadow: 0 2px 5px 0 var(--main-btn-shadow);
    border: none;
}

.btn:hover,
.btn:focus {
    background: linear-gradient(var(--bg-white-opacity-2), var(--bg-white-opacity-2)), linear-gradient(var(--main-btn-light-red), var(--main-btn-dark-red));
}

.btn:active {
    background: linear-gradient(var(--bg-black-opacity-07), var(--bg-black-opacity-07)), linear-gradient(var(--main-btn-light-red), var(--main-btn-dark-red));
    box-shadow: inset 0px 2px 2px var(--main-active-btn-shadow);
}

.breadcrumbs-list {
    list-style: none;

    margin: 0;
    padding: 0;
}

.breadcrumbs-item a {
    color: var(--basic-white);
    font-size: 14px;
    line-height: 16px;
}

.breadcrumbs-item a:hover,
.breadcrumbs-item a:focus {
    color: var(--active-link-light);
}

.breadcrumbs-item a:not([href]) {
    cursor: default;
    color: var(--basic-white);
}


.site-nav-list,
.site-nav-sublist {
    list-style: none;

    margin: 0;
    padding: 0;
}

.site-nav-list {
    line-height: 18px;
}

.site-nav-sublist {
    color: var(--text-dark);
    font-size: 14px;
    line-height: 16px;

    background-color: var(--basic-white);
    box-shadow: 0 20px 20px 0 var(--bg-black-opacity-4);
}

.site-nav-item-link {
    color: var(--basic-white);
    font-weight: 700;
}

.site-nav-item-link:hover,
.site-nav-item-link:focus {
    color: var(--text-dark);

    background-color: var(--basic-white);
}

.site-nav-item-link:active {
    background-color: var(--basic-white);

    box-shadow: inset 0 2px 1px var(--active-class-shadow);
}

.site-nav-sublist-item a {
    color: var(--text-dark);
}

.site-nav-sublist-item a:hover,
.site-nav-sublist-item a:focus {
    background-color: #FBDED7
}

.site-nav-sublist-item a:active {
    background-color: #F6B5A5
}

.site-nav-sublist-item a:not([href]) {
    background-color: #D07058;
    cursor: default;
}

.site-nav-sublist-item:nth-child(1) {
    line-height: 18px;
    font-weight: 700;
}

.user-nav {
    list-style: none;

    margin: 0;
    padding: 0;
}

.user-nav-btn {
    color: var(--basic-white);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    background-color: var(--bg-white-opacity-2);
}

.user-nav-btn:hover,
.user-nav-btn:focus {
    color: var(--text-dark);

    background-color: var(--basic-white);
}

.user-nav .search-form,
.popup-login {
    color: var(--text-dark);

    background-color: var(--popup-bg);
}

.search-form input,
.popup-login input {
    font: inherit;
    color: var(--text-dark);
    font-size: 14px;
    line-height: 16px;
}

.popup-login-link {
    color: var(--text-dark);
    font-size: 13px;
    line-height: 15px;
    text-decoration: underline;
}

.popup-login-link:hover,
.popup-login-link:active,
.popup-login-link:focus {
    color: var(--active-link-dark);
}

.popup-login-entry-btn {
    font-size: 18px;
    line-height: 16px;
}

.header-contacts {
    margin: 0;

    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
}

.header-contacts a {
    color: var(--basic-white);
    font-size: 22px;
    line-height: 24px;
}

.header-contacts a:hover,
.header-contacts a:active,
.popup-login-link:focus {
    color: var(--active-link-light);
}

.slider-list,
.slider-pagination {
    list-style: none;

    margin: 0;
    padding: 0;
}

.slider-item-title {
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
    text-align: center;
}

.slider-btn {
    font-size: 32px;
    line-height: 32px;
}

.promotion-list {
    list-style: none;

    margin: 0;
    padding: 0;
}

.promotion-item:nth-child(1) {
    color: var(--basic-white);

    background-color: #4E0D1D;
    background-image: url("../img/raspberry-bg.jpg");
    background-size: cover;
}

.promotion-item:nth-child(2) {
    color: var(--basic-white);

    background-color: #3A2217;
    background-image: url("../img/chocolate-bg.jpg");
    background-size: cover
}

.promotion-item-title {
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
}

.promotion-item p {
    font-size: 18px;
    font-weight: 700;
}

.promotion-item-btn {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

.sales-hits-list {
    list-style: none;

    margin: 0;
    padding: 0;
}

.advantages {
    color: var(--text-dark);

    background-color: var(--advantages-bg);
    background-image: url(../img/pattern.png);
}

.advantages-title {
    font-size: 24px;
    line-height: 30px;
}

.advantages-list {
    list-style: none;

    margin: 0;
    padding: 0;
}

.blog-preview {
    color: var(--text-dark);

    background-color: var(--basic-white);
    background-image: url(../img/strawberry-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.blog-preview-new {
    font-weight: 500;
}

.blog-preview-link {
    color: var(--text-dark);
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-decoration: underline;

}

.blog-preview-link:hover,
.blog-preview-link:active,
.blog-preview-link:focus {
    color: var(--active-link-dark);
}


.subscribe {
    color: var(--text-light-dark);

    background: #F8F7F4;
    border: 10px solid transparent;
    /*repeating-linear-gradient(-45deg,
            #92cdff 0, #92cdff 9px,
            #f8f7f4 9px, #f8f7f4 18px,
            #fe9e90 18px, #fe9e90 27px,
            #f8f7f4 27px, #f8f7f4 36px);*/
}

.subscribe-form input {
    font: inherit;
    color: var(--text-dark);
    line-height: 24px;
}

.contacts {
    background-color: #E6DFC4;
    background-image: url("../img/map.png");
}

.contact-information {
    color: var(--text-dark);
    font-size: 14px;
    line-height: 20px;

    background-color: var(--basic-white)
}

.contact-information span {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

.contact-information-tel {
    color: var(--text-dark);
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

.contact-information-tel:hover,
.contact-information-tel:active,
.contact-information-tel:focus {
    color: var(--active-link-light);
}

.contact-information .feedback-btn {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

.socials-item,
.footer-nav-list {
    list-style: none;

    margin: 0;
    padding: 0;
}

.socials-item a {
    background-color: var(--bg-white-opacity-8);

    border: 2px solid var(--bg-white-opacity-5);
}

.socials-item a:hover,
.socials-item a:focus {
    background-color: var(--basic-white);
}

.socials-item a:active {
    border: 2px solid var(--bg-white-opacity-7);
    background-color: var(--basic-white);
}

.footer-nav-item-link {
    font-size: 13px;
    line-height: 18px;
    color: inherit;
}

.footer-nav-item-link:hover,
.footer-nav-item-link:active,
.footer-nav-item-link:focus {
    color: var(--active-link-light)
}

.footer-nav-item:first-child {
    font-weight: 700;
}

.copyright {
    margin: 0;

    font-size: 12px;
}

.copyright-link {
    font: inherit;
    color: var(--basic-white);
}

.copyright-link:hover,
.copyright-link:active,
.copyright-link:focus {
    color: var(--active-link-light);
}

.feedback-modal {
    color: var(--text-dark);

    background-color: var(--popup-bg);
}

.feedback-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
}

.feedback-form input,
.feedback-form textarea {
    font: inherit;
    color: var(--text-dark);

    line-height: 20px;
}

.feedback-submit-btn {
    font-size: 18px;
    line-height: 24px;
}

.products-filter fieldset {
    border: none;
}

.products-filter select,
.products-filter label {
    font: inherit;
    line-height: 18px;
    font-weight: 500;
    color: var(--basic-white);
    background: var(--bg-white-opacity-2);
}

.products-filter select:hover,
.products-filter label:hover {
    color: var(--text-dark);
}

.products-filter .sorting-field-title,
.products-filter .fat-field-title,
.products-filter .fillers-field-title {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.fat-field-list,
.fillers-field-list {
    list-style: none;

    margin: 0;
    padding: 0;
}

.products-filter-btn {
    color: var(--basic-white);
    font: inherit;
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;

    background: var(--bg-white-opacity-2);
    border: 2px solid var(--basic-white)
}

.products-filter-btn:hover,
.products-filter-btn:focus {
    color: var(--text-dark);

    background-color: var(--basic-white);
}

.products-filter-btn:active {
    background-color: var(--basic-white);

    box-shadow: inset 0 2px 1px var(--active-class-shadow);
}


.cart {
    color: var(--text-dark);
    font-size: 13px;
    line-height: 16px;

    background-color: var(--popup-bg);
}

.cart-table span {
    color: var(--text-extra-light);
}

.cart-table img {
    border-radius: 50%;
}

.cart-total {
    color: var(--text-dark);
    font-size: 15px;
    line-height: 16px;
    font-weight: 700;
}

.cart-btn {
    font-size: 18px;
    line-height: 16px;
}

.page-title {
    font-size: 35px;
    line-height: 41px;
}

.products-list {
    list-style: none;

    margin: 0;
    padding: 0;
}

.product-card:hover {
    background-color: var(--bg-white-opacity-2)
}

.product-card-link {
    color: var(--basic-white);
}

.product-card-img {
    border-radius: 50%;
}

.product-card-title {
    text-align: center;
    font-weight: 500;
}

.product-card-price {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;

    text-shadow: 0px 1px 3px var(--price-shadow);
}

.product-card-price span {
    font-size: 30px;
    line-height: 35px;
}

.product-card-btn {
    color: var(--basic-white);
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

.catalog-pagination-list {
    list-style: none;

    margin: 0;
    padding: 0;
}

.catalog-pagination-item-link {
    color: var(--basic-white);
    line-height: 18px;
    font-weight: 500;
}

.catalog-pagination-item-link:hover,
.catalog-pagination-item-link:focus {
    background-color: var(--bg-white-opacity-2)
}

.catalog-pagination-item-link:active,
.catalog-pagination-item-link:not([href]) {
    color: var(--text-dark);

    background-color: var(--basic-white);
}